<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>38290618628-424qludicibpvdc9347voj3fpt2v8450.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38290618628-424qludicibpvdc9347voj3fpt2v8450</string>
	<key>API_KEY</key>
	<string>AIzaSyDuOFhhnU9Yhm1s3nOpNVYtQVvRxAlx7Ws</string>
	<key>GCM_SENDER_ID</key>
	<string>38290618628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intellidining.DiningAtPSU</string>
	<key>PROJECT_ID</key>
	<string>dining-psu</string>
	<key>STORAGE_BUCKET</key>
	<string>dining-psu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38290618628:ios:3dc8b2441b4db9bb</string>
	<key>DATABASE_URL</key>
	<string>https://dining-psu.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9355707484240783~6907150638</string>
</dict>
</plist>